service: {{ benefit().service }},
<section>
  @switch (benefit().service) {
    @case ('cafeteria.io') {
      coffee n'snacks
    }
    @case ('lunch-card') {
      a lunch card to use
    }
    @case ('healthcare') {
      your best docs
    }
    @case ('sport-system') {
      let's go to the gym
    }
    @default {
      unknown service
    }
  }
</section>
<section>
  {{ benefit().country }}, {{ benefit().city }}, fee:
  {{ benefit().monthlyFee | currency : "EUR" }}, since:
  {{ benefit().subscribedAtDate | date }}
</section>
