<section [ngSwitch]="benefit.service">
  service: {{ benefit.service }},
  <ng-container *ngSwitchCase="'cafeteria.io'">coffee n'snacks</ng-container>
  <ng-container *ngSwitchCase="'lunch-card'">a lunch card to use</ng-container>
  <ng-container *ngSwitchCase="'healthcare'">your best docs</ng-container>
  <ng-container *ngSwitchCase="'sport-system'">let's go to the gym</ng-container>
  <ng-container *ngSwitchDefault>unknown service</ng-container>
</section>
<section>
  {{ benefit.country }}, {{ benefit.city }},  
  fee: {{ benefit.monthlyFee | currency:"EUR" }},
  since: {{ benefit.subscribedAtDate | date }}
</section>
